{% extends 'home.html' %}
{% block title %}Sign Up{% endblock title %}
{% block content %}

    <div class="wrapper">
        <div class="form-container">
            <div class="half-circle">
                <p class="title">Sign Up</p>
            </div>
            <form method="POST">
                <p class="info-text">you have already an account? <a href="/login" class="link">Login here</a></p>
                <div class="floating-input">
                    <input type="text" id="name" class="input" name='Firstname' required>
                    <label for="name">First Name</label>
                </div>
                <div class="floating-input">
                    <input type="text" id="email" class="input" name='email' required>
                    <label for="email">Email</label>
                </div>
                <div class="floating-input">
                    <input type="password" id="password1" class="input" name='password1' required>
                    <label for="password1">Password</label>
                </div>
                <div class="floating-input">
                    <input type="password" id="password2" class="input" name='password2' required>
                    <label for="password2">Password (Confirm)</label>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}